.entry-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group input{
    width: 50px;
}