*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(160, 197, 186);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


